<%- include('partials/header') %>


    <p><h1><%= title %></h1></p>
    <% let counter = 0 %>
    <p><h2>Welcome to the <%= title %></h2></p>
    <p><ul>
    <% for (var i =0; i < movies.length; i++) { %>
      <li>
        <a href="http://localhost:3002/api/movie/<%= movies[i]._id %>">
          <%= movies[i].title + ' ' + movies[i].bio %>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://localhost:3002/api/movie/delete/<%= movies[i]._id %>">
          delete
        </a>
      </li>
   <% } %>
  </ul></p>

  
  <script src="myjs.js"></script>
  </body>

</html>
