<%- include('partials/header') %>


<% let counter = 0 %>
<h2>Welcome to the <%= title %></h2>
<section>
  <h2 class="hidden">Movies Display</h2>
  <div >
    <ul id="moviesContainer">
      <% for (var i =0; i < movies.length; i++) { %>
        <li class="movieCon">
          <a href="http://localhost:3002/api/movie/<%= movies[i]._id %>">
            <img src="/images/<%= movies[i].thumbnail %>" alt="<%= movies[i].title %> cover">
            <p><%= movies[i].title + ', by ' + movies[i].director %></p>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</section>

  
  <script src="myjs.js"></script>
 
  <%- include('partials/footer') %>
